mixin bundle()
  section.bundle(id='bundling')
    .container
      .content-box
        h2 Сборка первого экрана тз
        p Для анимации используйте неколько разных css свойств и небольшие задержки
        p Для построчной или посимвольной анимации текста используйте splitting.js (пример: интро этого сайта)p
