mixin parallax()
  section.parallax(id='parallax')
    .container
      .content-box
        h2 Параллакс по скроллу
        p Эффекты, которые постоянно срабатывают по скроллу
        p Скроллим скроллим и вжух вжух вжух!
        ul.parallax__list
          li.parallax__item(data-animation='fade-scale')
            span fade-scale
          li.parallax__item(data-animation='fade-scale')
            span  fade-scale
          li.parallax__item(data-animation='transform-y')
            span  transform y
          li.parallax__item(data-animation='transform-y')
            span  transform y
