mixin preloader()
  .preloader(data-preloader)&attributes(attributes)
    .container
      .preloader__box(data-box)
       .preloader__item
       .preloader__item
       .preloader__item
       .preloader__item
